[Unit]
Description=Knowledger Builder

[Service]
Type=simple
WorkingDirectory=/root/knowledger-miner/src/builder
ExecStart=/root/knowledger-miner/knowledger-builder.sh
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
